$clr-primary: #0086e8;
$radius: 0.2rem;

.home-page {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}
#right-button {
  display: flex;
  justify-content: flex-end;
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
}

// .spacer {
//   aspect-ratio: 16/10;
//   width: 100%;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
// }
// .layer1 {
//   background-image: url("blob-scene-haikei.svg");
// }
.left-logo {
  display: flex;
  justify-content: flex-end;
}
.connectbutton {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid $clr-primary;
  background: transparent;
  color: $clr-primary;
  border-radius: $radius;
  transition: background 100ms ease-in, color 100ms ease-in;
  cursor: pointer;

  &:hover {
    background: $clr-primary;
    color: white;
  }
}

.spacer {
  flex: 1;
}

#main-title {
  text-align: center;
  font-size: 3em;
}

.bg {
  // padding: 20em;
  // background-image: url("portalicon.png");
  // background-repeat: no-repeat;
  // background-size: 50%;
  // background-position: center;
  // z-index: 0;
  // border: 2px solid black;
}
// .footer {
//   height: 100px;
//   position: relative;
// }

.footer-content {
  margin: 30px;
  display: flex;
  flex-direction: row;
}
